* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
body {
    background-color: #000000;
    color: #fff;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    font-family: "Montserrat-Regular";
}
main {
    display: flex;
    flex-direction: column;
    margin-top: -3%;
    gap: 2.2vh;
}
/* ------------------------------------Start-NavBar-définitive------------------------------------*/
header {
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center;
}
.menuNav {
    /* width: 100%; */
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 50px;
    /* box-shadow: 0px 0px 60px 40px #000000; */
    /* opacity: 90%; */
    font-size: 3vw;
    padding: 2% 4% 2% 4%;
    margin: 0 2% 2% 2%;
    /* filter: blur(4px); */
    /* z-index: 100; */
}
.menuNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuNav a,
.menuNav img {
    color: #fff;
    text-decoration: none;
    width: 8vw;
}
/* .menuNav li:hover {
    color: blue;
    background: rgb(198,198,198);
    background: radial-gradient(circle, rgba(198,198,198,1) 0%, rgba(189,189,189,1) 100%);
    border-radius: 40px 0px 0px 40px;
    opacity: 50%;
    background-size: 1px;

} */
.navTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 10vh; */
}
.logoNav img {
    height: 7vh;
}
.nameDfrNav {
    text-transform: uppercase;
    width: 49%;
    font-size: 3vw;
}
.spaceNavTop {
    width: 49%;
}
/* ------------------------------------End-NavBar-définitive------------------------------------*/

/* ------------------------------------Start-Iframe-définitif------------------------------------*/
.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
}
/* ------------------------------------End-Iframe-définitif------------------------------------*/
/* ------------------------------------Start-Wrapper-définitif------------------------------------*/
.containerWrapper {
    display: flex;
    /* padding: 0 35px; */
    align-items: center;
    justify-content: center;
}
.wrapper .carousel {
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}
.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img {
    pointer-events: none;
}
.carousel img {
    height: 340px;
    object-fit: contain;
    /* width: calc(100% /3); */
    width: 100%;
    margin-left: 14px;
}
.wrapper {
    max-width: 1200px;
    position: relative;
}
.carousel img:first-child {
    margin-left: 0px;
}
.wrapper i {
    /* background: #313131; */
    font-size: 1.2rem;
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
    /* border-radius: 50%; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper i:first-child {
    left: 3px;
    display: none;
}
.wrapper i:last-child {
    right: 3px;
}
/* ------------------------------------End-Wrapper-définitif------------------------------------*/

/* ------------------------------------Start-Album-définitif------------------------------------*/
.containerReleases h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat-bold";
    font-size: 13vw;
}
.articleReleases a {
    width: calc(85vw / 2);
    border: 2px solid #fff;
}
.articleReleases img {
    width: 100%;
    height: 100%;
}
.articleReleases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6em;
}
/* ------------------------------------End-Album-définitif------------------------------------*/

/* ------------------------------------Start-Events-définitif------------------------------------*/
.containerEvents h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat-bold";
    font-size: 13vw;
}
.containerEvents h3 {
    text-transform: uppercase;
    font-family: "Montserrat-bold";
    font-size: 5vw;
}
.containerEvents h4 {
    text-transform: uppercase;
    font-family: "Montserrat-bold";
    font-size: 2.5vw;
    width: 100%;
    /* text-align: center; */
}
.articleEvents a {
    width: 90vw;
    border: 2px solid #fff;
}
.articleEvents img {
    width: 100%;
    height: 100%;
}
.articleEvents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6em;
    /* background: yellow; */
    text-align: center;
}
.articleEvents p {
    width: 90vw;
    letter-spacing: 0.2rem;
}
/* ------------------------------------End-Events-définitif------------------------------------*/

/* ------------------------------------Start-Spotify-définitif------------------------------------*/
.spotify {
    display: flex;
    justify-content: center;
}
/* ------------------------------------End-Spotify-définitif------------------------------------*/

/* ------------------------------------Start-Artist-définitif------------------------------------*/
.containerArtist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 0.5em; */
}
.containerArtist h2 {
    /* text-align: center; */
    text-transform: uppercase;
    font-family: "Montserrat-bold";
    font-size: 13vw;
}
.articleArtist {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.articleArtist a {
    width: calc(90vw / 1);
    border: 2px solid #fff;
    /* border-top: #000; */
}
.articleArtist img {
    width: 100%;
    height: 100%;
}
.articleArtist h3 {
    text-transform: uppercase;
    font-family: "Montserrat-bold";
    font-size: 8vw;
}
/* ------------------------------------End-Artist-définitif------------------------------------*/

/* ------------------------------------Start-Footer-définitif------------------------------------*/
.containerFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #fff;
    margin-bottom: 11vh;
    height: 50vh;
    gap: 3vh;
    padding-top: 3vh;
}
.logoFooter {
    width: 50vw;
    /* margin: 3vh 0 3vh 0; */
}
.followFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 5rem;
}
.followFooter img {
    width: 15vw;
}
/* ------------------------------------End-Footer-définitif------------------------------------*/

@media screen and (min-width: 700px) {
    .carousel img {
        width: calc(100% / 2);
        height: 430px;
    }
}
@media screen and (min-width: 1000px) {
    .carousel img {
        width: calc(100% / 3);
    }
    .containerWrapper {
        padding: 0 35px;
    }
}

/* ------------------------------------Start-Video-Page-définitif------------------------------------*/
.videoList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.singleVideo {
    width: calc(90vw / 2);
}
.singleVideo h2 {
    font-size: 2vw;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
}
