* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
body {
    background-color: #ffffff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat-Regular";
    text-align: center;
}
/* ------------------------------------Start-NavBar-définitive------------------------------------*/

.menuNav {
    /* width: 100%; */
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    border-radius: 50px;
    box-shadow: 0px 0px 30px -5px #000000;
    /* opacity: 80%; */
    font-size: 3vw;
    padding: 2% 4% 2% 5%;
    margin: 0 2% 2% 2%;
    /* filter: blur(4px); */
}
.menuNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menuNav a, img {
    color: #fff;
    text-decoration: none;
    width: 8vw;
}