* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat-Regular";
}
/* ------------------------------------Start-NavBar-définitive------------------------------------*/
header {
    z-index: 100;
    height: 7vh;
    /* font-family: "Montserrat-Regular"; */
    position: sticky;
    top: 0;
}
nav {
    display: flex;
    height: 100%;
}
.menuNav {
    /* background-color: #b7b7b7; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49%;
}
.menuNav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.menuNav ul li a {
    text-decoration: none;
    font-size: x-large;
    color: #fff;
}
.divLogoNav {
    display: flex;
    justify-content: center;
    width: 2%;
}
.logoNav {
    scale: 2;
    padding-top: 1em;
    height: 3rem;
}
.nameNav {
    /* background-color: #b7b7b7; */
    display: flex;
    align-items: center;
    width: 49%;
}
.nameDfrNav {
    display: flex;
    justify-content: center;
    width: 90%;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    font-size: xx-large;
}
.iconCo {
    display: flex;
}
/* ------------------------------------End-NavBar-définitive------------------------------------*/
.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ------------------------------------Start-Wrapper-définitif------------------------------------*/
/* .wrapper {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 110, 255);
    border: 2px solid black;
}
.container {
    background-color: rgb(207, 247, 228);
    border: 2px solid black;
    width: 22%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.cardWrapper {
    width: 100px;
    height: 100px;
    background-color: rgb(133, 150, 94);
    border: 2px solid rgb(44, 34, 34);
}

 */



.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    border: 1px solid #fff;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    border: 1px solid #fff;
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('/img/Album_Red_Rave.png');
    background-position: center;
}
.card[for="c2"] {
    background-image: url('/img/Darkness_fernando.png');
    background-position: center;
    b
}
.card[for="c3"] {
    background-image: url('/img/DJ_BABE_Event.png');
    background-position: center;
}
.card[for="c4"] {
    background-image: url('/img/Japanese_temple.png');
}
.card[for="c5"] {
    background-image: url('/img/Red_Night.png');
}