* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat-Regular";
}
/* ------------------------------------Start-NavBar-définitive------------------------------------*/
header {
    z-index: 100;
    height: 7vh;
    /* font-family: "Montserrat-Regular"; */
    position: sticky;
    top: 0;
}
nav {
    display: flex;
    height: 100%;
}
.menuNav {
    /* background-color: #b7b7b7; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49%;
}
.menuNav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.menuNav ul li a {
    text-decoration: none;
    font-size: 1.5vw;
    color: #fff;
}
.divLogoNav {
    display: flex;
    justify-content: center;
    width: 2%;
}
.logoNav {
    scale: 2;
    padding-top: 1em;
    height: 2.6vw;
}
.nameNav {
    /* background-color: #b7b7b7; */
    display: flex;
    align-items: center;
    width: 49%;
}
.nameDfrNav {
    display: flex;
    justify-content: center;
    width: 90%;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    font-size: 2vw;
}
.iconCo {
    display: flex;
}
.iconCo img {
    width: 2vw;
}
/* ------------------------------------End-NavBar-définitive------------------------------------*/
.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ------------------------------------Start-Wrapper-définitif------------------------------------*/

.wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    /* background-color: rgb(0, 110, 255); */
    padding: 2% 0 2% 0;
}
.container {
    /* background-color: rgb(207, 247, 228); */
    /* border: 2px solid rgb(243, 141, 141); */
    width: 90%;
    gap: 2%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* margin: 2% 0 2% 0; */
}
.cardWrapper {
    width: 100px;
    /* background-color: rgb(133, 150, 94); */
    border: 2px solid rgb(255, 255, 255);
    /* border-radius: .75rem; */
    border-radius: 2rem;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 0px 30px -5px #ffffffff;
    overflow: hidden;
    margin: 0 10px;
    cursor: pointer;
}
.cardWrapper > .titleCardWrapper {
    display: flex;
    flex-wrap: nowrap;

    /* background-color: #ac99ee; */
    /* border: 2px solid #fc7b7b; */
}
.cardWrapper > .titleCardWrapper > .iconCardWrapper {
    background-color: #ffffff;
    /* border: 2px solid #f3eeee; */
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    box-shadow: 0px 30px 100px 30px #ffffffff;
}
.cardWrapper > .titleCardWrapper > .descriptionCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 100px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: 0.3s;
    transition: all 0.3s ease;
}
.descriptionCardWrapper p {
    padding-top: 5px;
    text-shadow: #000;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    font-size: 195%;
}
.descriptionCardWrapper h2 {
    text-transform: uppercase;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    font-size: 195%;
}
input {
    display: none;
}
input:checked + label {
    width: 60%;
}
input:checked + label .descriptionCardWrapper {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.cardWrapper[for="cardWrapper1"] {
    background-image: url("/img/Album_Red_Rave.png");
    background-position: center;
    background-repeat: no-repeat;
}
.cardWrapper[for="cardWrapper2"] {
    background-image: url("/img/Imagination_Fernando.png");
    background-position: center;
    background-repeat: no-repeat;
}
.cardWrapper[for="cardWrapper3"] {
    background-image: url("/img/DJ_BABE_Event.png");
    background-position: center;
    background-repeat: no-repeat;
}
.cardWrapper[for="cardWrapper4"] {
    background-image: url("/img/FeelGood_DJBabe.png");
    background-position: center;
    background-repeat: no-repeat;
}
.cardWrapper[for="cardWrapper5"] {
    background-image: url("/img/Red_Night.png");
    background-position: center;
    background-repeat: no-repeat;
}
/* ------------------------------------End-Wrapper-définitif------------------------------------*/

/* ------------------------------------Start-Release-définitif------------------------------------*/
.releases {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: bisque; */
}
.containerRelease {
    width: 100%;
    height: 80vh;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.releases article img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20em;
    border: 2px solid #fff;
}
.containerRelease h2 {
    position: absolute;
    margin-top: 36.5vw;
}
/* ------------------------------------End-Release-définitif------------------------------------*/

/* ------------------------------------Start-Events-définitif------------------------------------*/
.containerEvents {
    /* background-color: #8ab5dd; */
    width: 100%;
    height: 140vh;
    /* padding-top: 4.2vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.eventPrincipal {
    /* background: bisque; */
    width: 100%;
    height: 60%;
    display: flex;
    background-image: url(/img/Design_Event.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 34.6vw;
}
.eventPrincipal p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    font-size: 4vw;
    text-align: end;
}
.eventPrincipal img {
    height: 100%;
    margin-right: 2vw;
}
.eventNext {
    /* background-color: chocolate; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.eventNext div {
    display: flex;
    width: 30%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 50px 0 50px;
}
.eventNext div:nth-child(1) {
    background-image: url("/img/DJ_BABE_Event_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.eventNext div:nth-child(2) {
    background-image: url("/img/Sans\ titre-gsd1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.eventNext div:nth-child(3) {
    background-image: url("/img/Sans\ titre-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.titleH {
    /* background-color: darkgreen; */
    width: 15vh;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    margin-top: 33vw;
    font-size: 5vw;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    letter-spacing: 1vw;
    /* position: absolute; */
    /* writing-mode: vertical-rl; */
    /* text-orientation: calc(90); */
    /* direction: ltr;
    glyph-orientation-vertical: 90deg; */
}
/* ------------------------------------End-Events-définitif------------------------------------*/

/* ------------------------------------Start-iframe-définitif------------------------------------*/
.spotify {
    /* width: 90%; */
    display: flex;
    justify-content: center;
}
/* ------------------------------------End-iframe-définitif------------------------------------*/
/* .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1440px; */
/* height: 74px; */
/* } */

/* .box .group { */
/* width: 100%; */
/* height: 100%; */
/* background-color: #bebebeba; */
/* border-radius: 50%/60%; */
/* border: 1px solid; */
/* border-color: #000000; */
/* box-shadow: inset 0px 4px 4px #00000040; */
/* filter: blur(4px); */
/* }  */

/* ------------------------------------Start-footer-définitif------------------------------------*/
footer {
    background-color: bisque;
    height: 60vh;
    margin-top: 4vh;
}