* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
body {
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-family: "Montserrat-Regular";
    text-align: center;
}
/* ------------------------------------Start-NavBar-définitive------------------------------------*/
header {
    position: sticky;
    top: 0;
    z-index: 100;
}
.menuNav {
    /* width: 100%; */
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    border-radius: 50px;
    box-shadow: 0px 0px 30px -5px #ffffff;
    /* opacity: 80%; */
    font-size: 3vw;
    padding: 2% 4% 2% 4%;
    margin: 0 2% 2% 2%;
    /* filter: blur(4px); */
    /* z-index: 100; */
}
.menuNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuNav a, img {
    color: #fff;
    text-decoration: none;
    width: 8vw;
}
.navTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 10vh; */

}
.nameDfrNav {
    text-transform: uppercase;
    width: 49%;
    font-size: 3vw;
}
.spaceNavTop {
    width: 49%;
}
/* ------------------------------------End-NavBar-définitive------------------------------------*/
main {
    display: flex;
    flex-direction: column;
    margin-top: -3%;
}
.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}